<%- include('includes/header') %>

  <div class="container">
    <form id="reg-form" action="/registerPage" method="post">
      <div class="auth-details">
        <div class="labels">
          <label for="userName">Your name</label>
          <input type="text" id="userName" name="userName" placeholder="Name Please">
          <% if(nameError) { %>
            <div class="name-error">
              <%= nameError %>
            </div>
            <% } else { %>
              <div class="error-static">Name must be atleast 3 letters</div>
              <% } %>
        </div>

        <div class="labels">
          <label for="userMail">Your Email</label>
          <input type="text" id="userMail" name="userMail" placeholder="Email Please">
          <% if (emailError) { %>
            <div class="email-error">
              <%= emailError %>
            </div>
            <% } else { %>
              <div class="error-static">field must be in email format</div>
              <% } %>


        </div>

        <div class="labels">
          <label for="createPass">Create new password</label>
          <input type="password" id="createPass" name="createPass" placeholder="Create a new Password">
          <% if (passError) { %>
            <div class="pass-error">
              <%= passError %>
            </div>
            <% } else { %>
              <div class="error-static">the password must contain 8 character , 1 number , 1 uppercase , 1
                lowercase and 1 special character</div>
              <% } %>
        </div>

        <div class="labels">
          <label for="confirmPass">comfirm password</label>
          <input type="password" id="confirmPass" name="confirmPass" placeholder="Confirm your new password">
          <% if (confirmPassError) { %>
            <div class="confirm-error">
              <%= confirmPassError %>
            </div>
            <% } else { %>
              <div class="error-static">this pass must match the previous field</div>

              <% } %>
        </div>

      </div>
      <div class="existing-user">user name or email exists</div>

      <button id="register" type="submit">Submit</button>
    </form>
    <% if (duplicateError) { %>
      <div class="duplicate-found">
        <%= duplicateError %>
      </div>
      <% } %>



  </div>


  <%- include('includes/end') %>